.left-sidebar-protocol {
  .accordion {
    .accordion-item {
      border: none !important;
      .accordion-button:focus {
        box-shadow: none;
      }
      .accordion-body {
        padding: 0px;
      }
      .accordion-header {
        button {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;

          color: #353b4a;
          padding: 8px 16px;
        }
        .accordion-button:not(.collapsed) {
          background-color: #e8e7f3;
          color: #605daf;
        }
      }
      .accordion-button::after {
        background-size: 12px;
        width: 12px;
        height: 12px;
      }
    }
  }
}
